/* add css module styles here (optional) */

.container {
  font-size: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.inputContainer {
  position: relative;
  flex: 1;
  display: flex;
}

.input {
  padding-inline: 35px;
  padding-block: 8px;
  flex: 1;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.input:focus {
  outline: none;
}

.searchOverlay {
  position: absolute;
  z-index: 9999999;
  top: 60px;
  left: 0;
  width: 100%;
  transition: top 0.4s ease-in-out;
  display: flex;
}

.searchResultBox {
  border-radius: 5px;
  min-height: 200px;
  margin-inline: 1em;
  flex: 1;
  display: flex;
}

.slideDown {
  top: 60px; /* slide down animation */
}

.slideUp {
  top: -1000px; /* slide up animation */
}

.innerSearch {
  flex: 1;
  border-radius: 5px;
  padding: 1em 3em;
  backdrop-filter: brightness(0.7) blur(8px);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 18px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  /* left: 5px; */
}

.sendIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-300%, -50%);
  right: 0;
}

.iconActive {
  cursor: pointer
}

.message {
  margin-bottom: 2em;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}

.singleCard {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  border-radius: calc(5px + 0.5em);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.singleCard img {
  height: 90px;
  width: 90px;
  border-radius: 5px;
  margin-right: 20px;
}

.content h3 {
  margin-top: 0;
}

.content p {
  margin-bottom: 0;
}